ion-item {
    --inner-padding-end: 10px;
    --inner-padding-start: 10px;
    font-family: Arial, sans-serif;
  }

.frase {
    font-size: 16px;
    color: #333;
  }

.autor {
    font-size: 14px;
    color: #666;
    margin-top: 4px;
  }

.delete-icon {
    font-size: 20px;
    color: #007bff;
    cursor: pointer;
}